body, html { 
	width: 1200px;
	height: 735px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#gamecontainer {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}
#canvas { 
    width: 1000px;
    height: 600px;
    
}